<div class="home-container flex flex-column align-items-center justify-content-center w-full h-screen	text-white">
  <div class="content-container flex flex-column align-items-center border-solid border-white	border-1 p-5">
    <div class="flex align-items-center gap-5 mb-3">
      <h1>Hello Data</h1>
      <div>
        <h3 class="flex flex-column">指數預測</h3>
        <span>hellodata.com</span>
      </div>
    </div>
    <form class="flex flex-column" [formGroup]="userSigninForm" (ngSubmit)="signin()">
      <div class="top-action flex justify-content-around gap-1">
        <button class="btn-custom">上证指数</button>
        <button class="btn-custom">深证成指</button>
        <button class="btn-custom">创业扳指</button>
        <button class="btn-custom">滬金主連</button>
      </div>
      <div class="textfield-container flex flex-row gap-5">
        <p-floatLabel class="input-content">
          <input pInputText id="user"/>
          <label for="user"><i class="pi pi-user"></i> User</label>
        </p-floatLabel>
        <p-floatLabel class="input-content">
          <input type="password" pInputText id="password"/>
          <label for="password"><i class="pi pi-lock"></i> Password</label>
        </p-floatLabel>
      </div>
      <div class="action-container flex flex-column gap-5">
        <div>
          <a class="text-white">我起阅读铜意,相关条款和稳私政策。</a>
        </div>
        <div>
          <p-button
            type="submit"
            label="Login 登录"
            [raised]="true"
            icon="pi pi-sign-in"
            size="small"
          ></p-button>
        </div>
        <div class="button-content flex justify-content-around gap-1">
          <a href="/signup" class="btn-custom">Register 登记</a>
          <a class="btn-custom">Visitors nter</a>
          <a class="btn-custom">Online Service</a>
        </div>
      </div>
    </form>
  </div>
</div>
