.home-container {
  background-image: url("../../../../assets/img/login-bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white !important;

  .content-container {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border-radius: var(--border-radius-base);
    border: 1px solid white;
    box-shadow: var(--shadow-base-1);
    max-width: 470px;
    img {
      height: 3rem;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xl);

      .textfield-container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-base);
        flex-wrap: wrap;
        .input-content, input{
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: var(--spacing-2xs);
          color: white;
          border: 1px solid white;
          border-radius: 30px;
        }
        ::ng-deep .p-float-label label {
          color: white;
        }
      }
      .action-container {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-2xs);
        gap: var(--spacing-md);
        .button-content {
          display: flex;
          flex-direction: row;
          gap: var(--spacing-sm);
          align-items: center;
        }
      }
    }
  }
}

.action-btn {
  background-color: var(--blue-500);
  width: 100%;
  text-align: center;
  padding: var(--spacing-sm);
  border-radius: 30px;
  color: var(--color-white);
  font-weight: 600;
}

.btn-custom {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  outline: none;
  border: none;
  color: var(--color-white);
  text-align: center;
  padding: 10px 20px;
  &.bottom-btn {
    min-width: 120px;
    padding: 10px 5px;
  }
}

input {
  background-color: rgba(255, 255, 255, 0.12);
}

