:host {
  width: 100%;
  z-index: 100;
}
.navbar-container {
  background-color: var(--surface-0);
  width: 100%;
  height: 80px;
  padding: 0 var(--spacing-3xl);
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .logo {
      font-size: 38px;
      color: var(--color-blue-500);
      font-family: var(--font-family);
      font-weight: var(--font-weight-medium);
  }

  .links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--spacing-md);
    .nav-links,
    .nav-icon-links {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-base);
      .nav-link {
        font-size: var(--line-height-body);
        font-weight: var(--font-weight-normal);
        &.active {
          color: var(--color-blue-500);
        }
        &:hover {
          color: var(--color-blue-500);
        }
      }
      .nav-icon-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--line-height-body);
        font-weight: var(--font-weight-normal);
        &.active {
          color: var(--color-blue-500);
        }
        &:hover {
          color: var(--color-blue-500);
        }
      }
    }
    // .button-inner-container {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     gap: var(--spacing-2xs);
    //     span {
    //         font-size: var(--font-size-body);
    //     }
    // }
  }
  .user-info-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-2xs);
    align-items: center;
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        &.name {
          font-size: var(--font-size-body);
          font-weight: var(--font-weight-medium);
        }
        &.description {
          font-size: var(--font-size-body);
          font-weight: var(--font-weight-medium);
          color: var(--gray-400);
        }
      }
    }
  }

  .cart-button-inner-container {
    position: relative;
    .badge-container {
      position: absolute;
      top: -5px;
      right: -5px;
    }
  }
}

.avatar-container {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: var(--color-blue-500);
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--surface-0);
}
.user-menu {
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      &.name {
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-medium);
      }
      &.description {
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-medium);
        color: var(--gray-400);
      }
    }
    &.mobile {
      padding: 12px 25px;
    }
  }
  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 12px 25px;
    &:hover {
      background-color: var(--gray-100);
    }
  }
}
.mobile {
  display: none;
}

.desktop {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .mobile {
    display: flex !important;
  }
  .desktop {
    display: none !important;
  }
  .navbar-container {
    padding: 0 var(--spacing-xs);
    .logo {
      font-size: 32px;
    }
  }
}
