<nav class="navbar-container">
  <ng-container *ngIf="displayMenuButton">
    <div class="mobile">
      <p-button
        icon="pi pi-bars"
        severity="secondary"
        [outlined]="true"
        size="small"
        (click)="onMenuButtonClick()"
      ></p-button>
    </div>
  </ng-container>

  <!-- logo -->
  <a class="logo">指 數 預 測</a>

  <!-- links -->
  <div class="links-container desktop">
    <div class="nav-links">
      <a class="nav-link active" [routerLink]="['/']">上證指數</a>
      <a class="nav-link" [routerLink]="['/']">恆生指數</a>
      <a class="nav-link" [routerLink]="['/']">深證成指</a>
    </div>
    <div class="nav-icon-links">
      <a class="nav-icon-link" [routerLink]="['/']"
        ><i class="pi pi-shopping-cart"></i>客服</a
      >
      <a class="nav-icon-link" [routerLink]="['/']"
        ><i class="pi pi-clone"></i>积分储值</a
      >
      <a class="nav-icon-link" [routerLink]="['/']"
        ><i class="pi pi-arrow-right-arrow-left"></i>秋分兑换</a
      >
    </div>
    <p-divider layout="vertical"></p-divider>
    <a (click)="op.toggle($event)">
      <div class="user-info-container">
        <div class="avatar-container">
          <i class="pi pi-user"></i>
        </div>
        <div class="text-container">
          <span class="name">会员快去VIP</span>
          <span class="description">余额0.00</span>
          <!-- <span class="description">官方网址:hellodara.com</span> -->
        </div>
      </div>
    </a>
    <p-overlayPanel #op appendTo="body" styleClass="draw-user-menu">
      <ng-template pTemplate="">
        <div class="user-menu">
          <div class="text-container mobile">
            <span class="name">会员快去VIP</span>
            <span class="description">余额0.00</span>
            <!-- <span class="description">官方网址:hellodara.com</span> -->
          </div>
          <a class="menu-item">
            <i class="pi pi-user"></i>
            <span>Profile</span>
          </a>
          <a class="menu-item">
            <i class="pi pi-sign-out"></i>
            <span>Sign Out</span>
          </a>
        </div>
      </ng-template>
    </p-overlayPanel>
  </div>
  <div class="mobile">
    <a (click)="op.toggle($event)">
      <div class="user-info-container">
        <div class="avatar-container">
          <i class="pi pi-user"></i>
        </div>
        <!-- <div class="text-container">
          <span class="name">John Pate</span>
          <span class="description">Top 10 Web Developer</span>
        </div> -->
      </div>
    </a>
    <p-menu #menu [popup]="true" appendTo="body"> </p-menu>
  </div>
</nav>
