<div class="page-container">
  <div class="navbar-container">
    <app-navbar
      [displayMenuButton]="true"
      (menuButtonClick)="openMobileDrawer()"
    ></app-navbar>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </div>
  <!-- <app-notification-banner></app-notification-banner> -->
</div>

<p-sidebar
  [(visible)]="mobileDrawerIsOpen"
  position="left"
  styleClass="operator-drawer"
>
  <ng-container *ngTemplateOutlet="navLinks"></ng-container>
</p-sidebar>

<ng-template #navLinks>
  <ng-container *ngFor="let option of navOptions">
    <!-- autoclose drawer on link clicks -->
    <div (click)="mobileDrawerIsOpen = false">
      <a
        class="nav-options"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [routerLink]="option.path"
      >
        <div class="icon-container">
          <i [class]="'pi ' + option.icon"></i>
        </div>
        <span>{{ option.displayName }}</span>
      </a>
    </div>
  </ng-container>
  <hr />
  <div class="nav-options">
    <div class="icon-container">
      <i class="pi pi-info-circle"></i>
    </div>
    <span>About Us</span>
  </div>
  <div class="nav-options">
    <div class="icon-container">
      <i class="pi pi-map-marker"></i>
    </div>
    <span>Contract</span>
  </div>
  <div class="nav-options">
    <div class="icon-container">
      <i class="pi pi-flag"></i>
    </div>
    <span>Support</span>
  </div>
  <div class="nav-options">
    <div class="icon-container">
      <i class="pi pi-tags"></i>
    </div>
    <span>Help</span>
  </div>
  <div class="nav-options">
    <a><i class="pi pi-facebook"></i></a>
    <a><i class="pi pi-google"></i></a>
    <a><i class="pi pi-twitter"></i></a>
    <a><i class="pi pi-linkedin"></i></a>
    <a><i class="pi pi-youtube"></i></a>
    <a><i class="pi pi-instagram"></i></a>
  </div>
</ng-template>
