.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1 {
      margin: 0;
      color: var(--color-gray-600);
      &.current {
        color: var(--color-gray-800);
      }
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-2xl) var(--spacing-md) var(--spacing-md)
      var(--spacing-md);
  }
  
  @media screen and (max-width: 768px) {
    .header-container {
      gap: var(--spacing-2xs);
      h1 {
        font-size: var(--font-size-heading-xl);
      }
    }
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    width: 100%;
    flex-grow: 1;
    form {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);
      .section-container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-xs);
        flex-wrap: wrap;
        h4 {
          width: 100%;
          margin: 0;
        }
        .textfield-container-half {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: calc(50% - var(--spacing-2xs));
          gap: var(--spacing-2xs);
  
          div {
            input {
              width: 100%;
            }
          }
        }
        .textfield-container-full {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: 100%;
          gap: var(--spacing-2xs);
        }
        .textfield-container-third {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: calc(33% - var(--spacing-2xs));
          gap: var(--spacing-2xs);
        }
        .textfield-container-fourth {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          width: calc(24.9% - var(--spacing-2xs));
          gap: var(--spacing-2xs);
        }
      }
  
      .button-container {
        button {
          padding: var(--spacing-xs) var(--spacing-base);
        }
      }
    }
  }
  
  @media (max-width: 1024px) {
    .main-content {
      width: 100%;
      form {
        .section-container {
          .textfield-container {
            width: 100%;
          }
          .textfield-container-fourth {
            width: calc(50% - var(--spacing-2xs));
          }
  
          .textfield-container-third {
            width: 100%;
          }
        }
      }
    }
  }
  
  .modal-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);
    h4,
    p {
      margin: 0;
    }
    .buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: var(--spacing-2xs);
      margin-top: var(--spacing-xs);
    }
  }
  
  label {
    font-size: 18px;
    font-weight: 600;
    margin: 12px 0;
  }
  
  @media screen and (max-width: 1024px) {
    .profile-pic {
      display: none;
    }
  
    .main-row {
      justify-content: center;
    }
  }
  