<div class="container">
  <div class="main-content">
    <h1>Profile</h1>
    <form [formGroup]="userSignupForm" (ngSubmit)="signup()">
      <div class="textfield-container">
        <div class="input-content two">
          <label for="firstName" class="form-control-label">First Name</label>
          <input
            type="text"
            pInputText
            id="firstname"
            formControlName="firstname"
          />
        </div>
        <div class="input-content two">
          <label for="firstName" class="form-control-label">Last Name</label>
          <input
            type="text"
            pInputText
            id="lastname"
            formControlName="lastname"
          />
        </div>
        <div class="input-content two">
          <label for="firstName" class="form-control-label">Email</label>
          <input type="email" pInputText id="email" formControlName="email" />
        </div>
        <div class="input-content two">
          <label for="firstName" class="form-control-label">Phone Number</label>
          <input
            type="text"
            pInputText
            id="phonenumber"
            formControlName="phonenumber"
          />
        </div>
        <div class="input-content two">
            <label for="address1" class="form-control-label">Address 1</label>
            <input
              type="text"
              pInputText
              id="address1"
              formControlName="firstname"
            />
          </div>
          <div class="input-content two">
            <label for="address2" class="form-control-label">Address 2</label>
            <input
              type="text"
              pInputText
              id="address2"
              formControlName="lastname"
            />
          </div>
          <div class="input-content two">
            <label for="city" class="form-control-label">City</label>
            <input
              type="text"
              pInputText
              id="city"
              formControlName="firstname"
            />
          </div>
          <div class="input-content two">
            <label for="country" class="form-control-label">Country</label>
            <input
              type="text"
              pInputText
              id="country"
              formControlName="lastname"
            />
          </div>
          <div class="input-content two">
            <label for="city" class="form-control-label">State</label>
            <input
              type="text"
              pInputText
              id="city"
              formControlName="firstname"
            />
          </div>
          <div class="input-content two">
            <label for="zip-postal-code" class="form-control-label">Zip/Postal Code</label>
            <input
              type="text"
              pInputText
              id="zip-postal-code"
              formControlName="lastname"
            />
          </div>
      </div>
      <div class="action-container">
        <div class="button-content">
          <p-button
            type="submit"
            label="Save changes"
            [raised]="true"
            icon="pi pi-save"
            size="small"
          ></p-button>
        </div>
        <div class="button-content">
          Change password : 
          <p-button
            label="Change Password"
            [text]="true"
            [raised]="true"
            severity="danger"
            size="small"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
