/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 75% 25%;

  /* LEFT CONTENT */
  .left-content {
    margin: 15px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 15px;
  }

  /* RIGHT CONTENT */
  .right-content {
    margin: 15px 15px 15px 0;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 15px;
  }
}

.address-book {
  padding-left: 8px;
  padding-right: 8px;
  display: grid;
  grid-template-rows: 10% auto;
}

.address-search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0e0e0;

  .searchbar {
    font-size: 15px;
    background-color: #fff;
    width: 90%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::-webkit-input-placeholder {
      color: #e0e0e0;
    }
    input {
      padding: 10px 0px;
      margin-left: 15px;
      font-size: 15px;
      width: 100%;
      border: none;
      font-family: "Montserrat", sans-serif;
      &:focus {
        outline: none;
      }
      &:-moz-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder {
        color: #e0e0e0;
      }
    }
  }
}

.address-book-body {
  height: 62vh;
  overflow: auto;

  .address {
    width: 98%;
    padding: 12px 8px;
    background-color: #ffffff;
    margin-top: 6px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;

    &.address-active {
      background-color: #ffe4e4;
      
      // border-bottom: solid 1px #E0E0E0;
    }

    .photo {
      margin-left: 20px;
      display: block;
      width: 45px!important;
      height: 45px!important;
      background: #e6e7ed;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      .online {
        position: relative;
        top: 30px;
        left: 35px;
        width: 13px;
        height: 13px;
        background-color: #8bc34a;
        border-radius: 13px;
        border: 3px solid #fafafa;
      }
    }

    .info {
      height: 43px;
      width: 50%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .name {
        margin: 0 0 0 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 11pt;
        color: #515151;
      }
      .message {
        margin: 6px 0 0 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 9pt;
        color: #515151;
      }
    }

    .timer {
      margin-left: 10%;
      font-family: "Open Sans", sans-serif;
      font-size: 11px;
      padding: 3px 5px;
      color: #bbb;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      border-radius: 15px;
    }
  }
}

.chat {
  display: grid;
  grid-template-rows: auto 10%;
}

.chat-history {
  padding: 25px 35px;
  height: 63vh;
  overflow: auto;
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .photo {
      display: block;
      width: 45px;
      height: 45px;
      background: #e6e7ed;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .text {
      margin: 0 35px;
      background-color: #bcfdc5;
      padding: 15px;
      border-radius: 12px;
    }
    .response {
      float: right;
      margin-right: 0px !important;
      margin-left: auto; /* flexbox alignment rule */
      .text {
        background-color: #e3effd !important;
      }
    }
  }
  .time {
    font-size: 10px;
    color: lightgrey;
    margin-bottom: 10px;
    margin-left: 85px;
  }
  .response-time {
    float: right;
    margin-right: 40px !important;
  }
  .text-only {
    margin-left: 45px;
  }
}

.message-send {
  display: flex;
  align-items: center;
  border-top: 2px solid #eee;
  .icon {
    margin-left: 30px;
    color: #c0c0c0;
    font-size: 14pt;
  }
  .send {
    color: #fff;
    background-color: #4f6ebd;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
  }

  .write-message {
    border: 1px solid #8da3dd;
    border-radius: 20px;
    width: 80%;
    margin-left: 20px;
    font-size: 18px;
    padding: 10px 30px;
    &:focus {
      outline: none;
    }
  }

  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
  }
  &::-moz-placeholder {
    margin-left: 5px;
  }
  
  .clickable {
    cursor: pointer;
  }
}