<footer class="footer">
  <div class="copyright">Copyright © 2024 Okta. All rights reserved.</div>
  <div class="link desktop">
    <a href="#">About Us</a>
    <a href="#">Contract</a>
    <a href="#">Support</a>
    <a href="#">Help</a>
  </div>
  <div class="social desktop">
    <a><i class="pi pi-facebook"></i></a>
    <a><i class="pi pi-google"></i></a>
    <a><i class="pi pi-twitter"></i></a>
    <a><i class="pi pi-linkedin"></i></a>
    <a><i class="pi pi-youtube"></i></a>
    <a><i class="pi pi-instagram"></i></a>
  </div>
</footer>
