.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  padding: 60px 40px;
}

.main-content {
  background-color: var(--surface-0);
  max-width: 640px;
  width: 100%;
  border-radius: var(--border-radius-base);
  box-shadow: var(--shadow-base-1);
  padding: var(--spacing-2xl) var(--spacing-md) var(--spacing-md)
    var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  flex-grow: 1;
  h1 {
    display: flex;
    justify-content: center;
    padding: var(--spacing-md) var(--spacing-md);
    color: var(--blue-500);
  }
  form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    .textfield-container {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-base);
      flex-wrap: wrap;
      .input-content {
        display: flex;
        flex-direction: column;
        width: calc(100% - var(--spacing-2xs));
        gap: var(--spacing-2xs);
        &.two {
          width: calc(49% - var(--spacing-2xs));
        }
      }
    }
    .action-container {
      display: flex;
      flex-direction: column;
      padding: var(--spacing-2xs);
      gap: var(--spacing-md);
      .button-content {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
        align-items: center;
        a {
          color: var(--blue-500);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .main-content {
    width: 100%;
    form {
      .textfield-container {
        .input-content {
          width: 100% !important;
        }
      }
    }
  }
}
