<div class="page-container">
  <div class="navbar-container">
    <app-navbar
      [displayMenuButton]="true"
      (menuButtonClick)="openMobileDrawer()"
    ></app-navbar>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<p-sidebar
  [(visible)]="mobileDrawerIsOpen"
  position="top"
  styleClass="operator-drawer"
>
  <ng-container *ngTemplateOutlet="navLinks"></ng-container>
</p-sidebar>

<ng-template #navLinks>
  <div class="nav-options">
    <div class="icon-container">
      <i class="pi pi-info-circle"></i>
    </div>
    <span>上證指數</span>
  </div>
  <div class="nav-options">
    <div class="icon-container">
      <i class="pi pi-map-marker"></i>
    </div>
    <span>恆生指數</span>
  </div>
  <div class="nav-options">
    <div class="icon-container">
      <i class="pi pi-flag"></i>
    </div>
    <span>深證成指</span>
  </div>
  <hr />
  <ng-container *ngFor="let option of navOptions">
    <!-- autoclose drawer on link clicks -->
    <div (click)="mobileDrawerIsOpen = false">
      <a
        class="nav-options"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [routerLink]="option.path"
      >
        <div class="icon-container">
          <i [class]="'pi ' + option.icon"></i>
        </div>
        <span>{{ option.displayName }}</span>
      </a>
    </div>
  </ng-container>
</ng-template>
