<div class="img-slider">
  <img src="./assets/images/slider/1.jpg" />
  <div class="text">
    <h1>Welcome !</h1>
    <p>
      Crystal is free web template for everyone. Feel free to use it for your
      website. Please spread a word about templatemo to your friends.
    </p>
    <p-button label="Success" severity="success"></p-button>
  </div>
</div>
<div class="welcome">
  <div class="grid">
    <div class="text col-12 md:col-6 lg:col-6">
      <h2>Welcome to CRYSTAL Design</h2>
      <h3>Digital Studio in Bangkok</h3>
      <p>
        Crystal is free web template for everyone. Feel free to use it for your
        website. Please spread a word about templatemo to your friends. Integer
        lorem magna, gravida vitae metus a, euismod faucibus nisi. In sed nulla
        magna. Nulla in mauris ullamcorper, cursus lorem lobortis, pellentesque
        enim. Ut vel pellentesque est. Maecenas sed malesuada tellus.
      </p>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
          <h3>Our Location</h3>
        </div>
        <div class="col-6 md:col-6 lg:col-6">
          <img src="./assets/images/company/company-img-1.jpg" alt="Image" />
        </div>
        <div class="col-6 md:col-6 lg:col-6">
          <img src="./assets/images/company/company-img-2.jpg" alt="Image" />
        </div>
        <div class="col-6 md:col-6 lg:col-6">
          <img src="./assets/images/company/company-img-3.jpg" alt="Image" />
        </div>
        <div class="col-6 md:col-6 lg:col-6">
          <img src="./assets/images/company/company-img-4.jpg" alt="Image" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="team">
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-12"><h2>Meet Team</h2></div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card flex justify-content-center">
        <p-card header="Tracy" subheader="Designer">
          <ng-template pTemplate="header">
            <img alt="Card" src="./assets/images/team/1team-img-1.jpg" />
          </ng-template>
          <p>Good PartnerShip</p>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card flex justify-content-center">
        <p-card header="Mary" subheader="Developer">
          <ng-template pTemplate="header">
            <img alt="Card" src="./assets/images/team/1team-img-2.jpg" />
          </ng-template>
          <p>Good PartnerShip</p>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card flex justify-content-center">
        <p-card header="Julia" subheader="Derector">
          <ng-template pTemplate="header">
            <img alt="Card" src="./assets/images/team/1team-img-3.jpg" />
          </ng-template>
          <p>Good PartnerShip</p>
        </p-card>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="card flex justify-content-center">
        <p-card header="Linda" subheader="Manager">
          <ng-template pTemplate="header">
            <img alt="Card" src="./assets/images/team/1team-img-4.jpg" />
          </ng-template>
          <p>Good PartnerShip</p>
        </p-card>
      </div>
    </div>
  </div>
</div>
<div class="service">
  <div class="grid">
    <div class="title col-12 md:col-12 lg:col-12">
      <h2>Service</h2>
      <p>
        Mauris mattis vitae libero eget iaculis. Donec et augue quis quam
        porttitor consectetur ut nec sem. Integer sagittis viverra quam quis
        ultricies. Aenean risus nisl, consequat at nunc id, tincidunt tristique
        mauris.
      </p>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="media">
        <i class="pi pi-cog"></i>
        <div class="media-body">
          <h4 class="media-heading">WEB DEVELOPMENT</h4>
          <p>
            In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum
            maximus sem mi id metus. Suspendisse faucibus suscipit diam.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="media">
        <i class="pi pi-cog"></i>
        <div class="media-body">
          <h4 class="media-heading">DOMAIN HOSTING</h4>
          <p>
            In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum
            maximus sem mi id metus. Suspendisse faucibus suscipit diam.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="media">
        <i class="pi pi-cog"></i>
        <div class="media-body">
          <h4 class="media-heading">WEB DESIGN</h4>
          <p>
            In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum
            maximus sem mi id metus. Suspendisse faucibus suscipit diam.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="media">
        <i class="pi pi-cog"></i>
        <div class="media-body">
          <h4 class="media-heading">SOCIAL MEDIA</h4>
          <p>
            In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum
            maximus sem mi id metus. Suspendisse faucibus suscipit diam.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="media">
        <i class="pi pi-cog"></i>
        <div class="media-body">
          <h4 class="media-heading">RESPONSIVE THEMES</h4>
          <p>
            In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum
            maximus sem mi id metus. Suspendisse faucibus suscipit diam.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="media">
        <i class="pi pi-cog"></i>
        <div class="media-body">
          <h4 class="media-heading">EMAIL HOSTING</h4>
          <p>
            In suscipit, purus id ultrices sodales, nunc mi porta nibh, bibendum
            maximus sem mi id metus. Suspendisse faucibus suscipit diam.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="newsletter">
  <div class="text">
    <h2>Newsletter</h2>
    <p>
      Mauris mattis vitae libero eget iaculis. Donec et augue quis quam
      porttitor consectetur ut nec sem. Integer sagittis viverra quam quis
      ultricies. Aenean risus nisl, consequat at nunc id, tincidunt tristique
      mauris.
    </p>
  </div>
  <div class="grid red">
    <div class="col-12 md:col-8 lg:col-8">
      <input pInputText type="text" placeholder="Normal"/>
    </div>
    <div class="col-12 md:col-4 lg:col-4">
      <p-button label="Success" severity="success"></p-button>
    </div>
  </div>
</div>
<div class="work">
  <div class="text">
    <h2>Work</h2>
    <p>
      Mauris mattis vitae libero eget iaculis. Donec et augue quis quam
      porttitor consectetur ut nec sem. Integer sagittis viverra quam quis
      ultricies. Aenean risus nisl, consequat at nunc id, tincidunt tristique
      mauris.
    </p>
  </div>
</div>