<div class="footer">
  <div class="content">
    <div>
      <h1>指數預測</h1>
      <span></span>
    </div>
  </div>
  <div class="grid">
    <div class="col-6 md:col-3 lg:col-3">
      <h5 class="mb-4">Get In Touch</h5>
      <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
      <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
      <p><i class="fa fa-envelope me-3"></i>info</p>
    </div>
    <div class="col-6 md:col-3 lg:col-3">
      <h5 class="mb-4">Our Services</h5>
      <a class="btn btn-link" href="">Currency Wallet</a>
      <a class="btn btn-link" href="">Currency Transaction</a>
      <a class="btn btn-link" href="">Bitcoin Investment</a>
      <a class="btn btn-link" href="">Token Sale</a>
    </div>
    <div class="col-6 md:col-3 lg:col-3">
      <h5 class="mb-4">Quick Links</h5>
      <a class="btn btn-link" href="">About Us</a>
      <a class="btn btn-link" href="">Contact Us</a>
      <a class="btn btn-link" href="">Our Services</a>
      <a class="btn btn-link" href="">Terms & Condition</a>
    </div>
    <div class="col-6 md:col-3 lg:col-3">
      <h5 class="mb-4">Follow Us</h5>
      <div class="d-flex">
        <a class="btn btn-square rounded-circle me-1" href=""
          ><i class="fab fa-twitter"></i
        ></a>
        <a class="btn btn-square rounded-circle me-1" href=""
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-square rounded-circle me-1" href=""
          ><i class="fab fa-youtube"></i
        ></a>
        <a class="btn btn-square rounded-circle me-1" href=""
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
  </div>
  <hr class="w-10" />
  <div class="grid p-3">
    <div class="col-12 md:col-6 lg:col-6 text-center">
      &copy; <a href="#">Your Site Name</a>, All Right Reserved.
    </div>
    <div class="col-12 md:col-6 lg:col-6 flex gap-4 justify-content-center">
      <a href="https://themewagon.com">等級 : XXX</a>
      <a href="https://themewagon.com">胜漆 : XXX</a>
      <a href="https://themewagon.com">预测数 : XXX</a>
    </div>
  </div>
</div>
